<h1>메모장</h1>
<hr>

<h2><a href="posts/new"> [새 메모 추가하기] </a></h2>

<% @posts.each do |post| %>
    <hr>
    <h3><a href="/posts/show/<%= post.id %>"><%= post.id %> : <%= post.title %></a></h3> 
<% end %>