<h1> 새로운 메모를 입력하세요</h1>
<hr>
<form action="create" method="post">  
    <p>제목</p>
    <input type="text" name="input_title">
    <p>내용</p>
    <input type="text" name="input_content">
    <input type="submit">
</form>